{% extends 'base.html.twig' %}

{% block title %} Votre enregistrement dans l'application{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<h1> Votre inscription dans l'application</h1>
<br/><br/>
<hr/>
<br/><br/>

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.civilite) }}
{{ form_row(registrationForm.nom) }}
{{ form_row(registrationForm.prenom) }}
{{ form_row(registrationForm.login) }}
{{ form_row(registrationForm.password) }}
{{ form_row(registrationForm.confirmepassword) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.agreeTerms) }}

<button type="submit" class="btn"> S'inscrire </button>
{{ form_end(registrationForm) }}
{% endblock %}