{% extends 'base.html.twig' %}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
{% block title %} La page des utilisateurs !{% endblock %}

{% block body %}
<style>
    .example-wrapper {
=======
{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}
<style>
    .contenu {
>>>>>>> modou
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

<<<<<<< HEAD
    .example-wrapper code {
=======
    .contenu code {
>>>>>>> modou
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<<<<<<< HEAD
<div class="example-wrapper">
    <h1>Liste des utilisateurs de l'application✅</h1>


    <ul>
        {% for utilisateur in utilisateurs %}
        <li> {{ utilisateur.civilite }} </li>
        <li> {{ utilisateur.nom }} </li>
        <li> {{ utilisateur.prenom }} </li>
        <li> {{ utilisateur.dateNaiss|date("d/m/Y") }} </li>
        <li> {{ utilisateur.adresse }} </li>
        <li> {{ utilisateur.codePostal }} </li>
        <li> {{ utilisateur.ville }} </li>
        <li> {{ utilisateur.pays }} </li>
        <li> {{ utilisateur.telephone }} </li>
        <li> {{ utilisateur.email }} </li>
        <li> {{ utilisateur.periode }} </li>
        <li> {{ utilisateur.login }} </li>
        <li> {{ utilisateur.password }} </li>
        {% for role in utilisateur.roles %}
        <li> {{ role }} </li>
        {% endfor %}
        {% for message in utilisateur.message %}
        {{ message.titre }}
        {% endfor %}
        {% endfor %}
=======
<div class="contenu">
    <h1> Voici la liste des utilisateurs qui utilisent l'application ! </h1>
    <br /><br />
    <hr />
    <br />

    <table border="1">
        <tbody>
            <thead>
            <tr>
                <th> Civilité </th>
                <th> Nom </th>
                <th> Prénom </th>
                <th> Date de naissance </th>
                <th> Adresse </th>
                <th> Code postal </th>
                <th> Ville </th>
                <th> Pays </th>
                <th> Téléphone </th>
                <th> Email </th>
                <th> Période à laquelle on était à l'école </th>
                <th> Login </th>
                <th> Mot de passe </th>
                <th> Role </th>
            </tr>
            </thead>

            {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.civilite }} </td>
                <td>{{ utilisateur.nom }} </td>
                <td>{{ utilisateur.prenom }} </td>
                <td>{{ utilisateur.dateNaiss|date("d/m/Y") }} </td>
                <td>{{ utilisateur.adresse }} </td>
                <td>{{ utilisateur.codePostal }} </td>
                <td>{{ utilisateur.ville }} </td>
                <td>{{ utilisateur.pays }} </td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.periode }}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.password }}</td>
                {# affichage du role de l'utilisateur #}
                {% for role in utilisateur.roles %}
                <td> {{ role }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br /><br />

    <ul>


>>>>>>> modou
    </ul>
</div>
{% endblock %}
=======
{% block title %}Liste des utilisateurs!
{% endblock %}

{% block body %}
=======
{% block title %}Liste des utilisateurs!
{% endblock %}

{% block body %}
>>>>>>> modou
=======
{% block title %}Liste des utilisateurs!
{% endblock %}

{% block body %}
>>>>>>> modou
	<style>
		.contenu {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.contenu code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<br/><br/>

{% block content %}
	<div class="contenu">
		<h1>
			Voici la liste des utilisateurs qui utilisent l'application !
		</h1>
		<br/><br/>
		<hr/>
		<br/>

		<table border="1">
			<tbody>
				{% for utilisateur in utilisateurs %}
					<thead>
						<tr>
							<th>
								Civilité
							</th>
							<th>
								Nom
							</th>
							<th>
								Prénom
							</th>
							<th>
								Date de naissance
							</th>
							<th>
								Adresse
							</th>
							<th>
								Code postal
							</th>
							<th>
								Ville
							</th>
							<th>
								Pays
							</th>
							<th>
								Téléphone
							</th>
							<th>
								Email
							</th>
							<th>
								Période à laquelle on était à l'école
							</th>
							<th>
								Login
							</th>
							<th>
								Mot de passe
							</th>
							<th>
								Role
							</th>
						</tr>
					</thead>

					<tr>
						<td>{{ utilisateur.civilite }}
						</td>
						<td>{{ utilisateur.nom|upper }}
						</td>
						<td>{{ utilisateur.prenom }}
						</td>
						<td>{{ utilisateur.dateNaiss|date("d/m/Y") }}
						</td>
						<td>{{ utilisateur.adresse }}
						</td>
						<td>{{ utilisateur.codePostal }}
						</td>
						<td>{{ utilisateur.ville }}
						</td>
						<td>{{ utilisateur.pays }}
						</td>
						<td>{{ utilisateur.telephone }}</td>
						<td>{{ utilisateur.email }}</td>
						<td>{{ utilisateur.periode }}</td>
						<td>{{ utilisateur.login }}</td>
						<td>{{ utilisateur.password }}</td>
						{# affichage du role de l'utilisateur #}
						{% for role in utilisateur.roles %}
							<td>
								{{ role }}
							</td>
						{% endfor %}
					{% else %}
						<td colspan="5">
							Vous n'avez pas d'enregistrement!
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
		{% endblock %}

		<br/><br/>

		{% block footer %}
		{% endblock %}
	{% endblock %}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> modou
=======
>>>>>>> modou
=======
>>>>>>> modou
